{% extends "base/base.html" %}

{% block content %}
</br>

    <div class="col-md-12">
  <div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">{{meeting.date}}</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">{{meeting.title}}</a>
      </h3>
      <div class="mb-1 text-muted">Start Time : <b>{{meeting.start_time}} </b></div>
      <p class="card-text mb-auto">
        Room Number : {{meeting.room}}
      </p>
      <p>
      Duration : <b>{{meeting.duration}} hour</b>
      </p>
    </div>
  </div>
</div>

{% endblock %}
