{% extends "base/base.html" %}

{% block content %}
</br>
{% for room in rooms %}
<div class="col-md-12">
  <div class="card flex-md-row mb-4 shadow-sm h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">floor : {{room.floor}}</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">Room Name :{{room.name}}</a>
      </h3>
      <div class="mb-1 text-muted">Start Time : <b>{{room.room_number}} </b></div>
      <p>

      </p>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
